// import all of Bootstrap's CSS
@use "~bootstrap/scss/bootstrap.scss" as *;


$only-sm-logo: 240px;

@media (max-width: calc(map-get($grid-breakpoints, md) - 0.02px)) and (min-width: $only-sm-logo) {
  // use small nav menu expand button for small and thin screens
  #navbar-flex {
    justify-content: unset;
  }
}

#nav-logo-brand {
  margin-right: 0px;
  margin-left: var(--bs-navbar-brand-margin-end);
}

header .navbar-toggler {
  --bs-navbar-toggler-focus-width: 2px;
  border-width: 0px;
}


@media (max-width: ($only-sm-logo - 0.02px)) {
  #nav-logo-brand {
    margin-left: 0px;
  }

  #company-logo-name {
    display: none;
  }

  #company-logo {
    margin-left: var(--bs-navbar-brand-margin-end);
    margin-right: 0rem !important;
  }
  
  header {
    .navbar-toggler {
      --bs-navbar-toggler-focus-width: 1px;
      padding-inline: 0rem; 
    }
  }
}


@media (min-width: 240px) {
  #company-dropdown-name, .company-dropdown-name {
    display: none;
  }
}