// Import all of Bootstrap's CSS
// @use "../index.scss" as *;


@media (max-width: 767px) /* @include media-breakpoint-down(md) */ {
  // use small dropdown menu for small and thin screens
  #search-type-toolbar {
    display: none;
  }
}

@media (min-width: 767.02px) /* @include media-breakpoint-up(md) */ {
  // use large toolbar for large and wide screens
  #search-type-select {
    display: none;
  }
}

#search-bar {
  max-width: 1400px /* map-get($container-max-widths, xxl) */;
}

